body{
  display: flex;
  justify-content: center;
}

.container {
  padding: 8px;
  border-style: dotted;
  border-color: red;
  width: 500px;
}

.divRow {
  display: flex;
}

.box {
  width: 35px;
  height: 35px;
}

.colouredBox {
  background-color: black;
}