body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 8px;
  margin: 8px
}

.container {
  padding: 8px;
  border-style: solid;
  border-color: red;
  flex-basis: 960px 960px;
}

.divRow {
  display: flex;
}

.box {
  height: 10px;
  width: 10px;
}

.colouredBox {
  background-color: black;
}

h1,
h2, 
h4 {
  margin: 8px;
  text-align: center;
}

h2, 
h4 {
  color: rgb(93, 90, 90)
}